<h4 class="text-left">Chosen recipe</h4>

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-3 m-3" *ngIf="recipe">
        <div class="card" style="width: 18rem;">
            <img img src="{{ recipe.image}}">
            <div class="card-body">
                <h6>{{recipe.label}}</h6>
                <p class="card-text">{{recipe.ingredientLines}}</p>
                <div class="text-center">
                    <button class="btn" (click)="addToFavourites(recipe)" *ngIf="isSignedIn">Add to favourites</button>
                </div>
            </div>
        </div>
    </div>
</div>