<h4 class="text-left m-2">Search recipes</h4>

<div class="main">
    <div class="form-group has-search">
        <form (ngSubmit)="onSubmit(recipeForm)" #recipeForm="ngForm">
            <span class="fa fa-search form-control-feedback"></span>
            <input class="form-control" name="querystring" type="text" [(ngModel)]="querystring"
                placeholder="Search recipe">

            <h5 class="mt-5">Choose your preferences:</h5>
            <br>
            <div class="container-fluid">
                <div class="text-left">
                    <p>Mealtype</p>
                    <input class="m-2" type="radio" value="breakfast" id="breakfast" name="mealType" ngModel> Breakfast
                    <input class="m-2" type="radio" value="lunch" id="lunch" name="mealType" ngModel> Lunch
                    <input class="m-2" type="radio" value="dinner" id="dinner" name="mealType" ngModel> Dinner

                </div>
                <br>
                <div class="text-left">
                    <p>Dietary preferences</p>
                    <input class="m-2" type="radio" value="high-fiber" id="high-fiber" name="dietLabel" ngModel>
                    High-Fiber
                    <input class="m-2" type="radio" value="high-protein" id="high-protein" name="dietLabel" ngModel>
                    High-Protein
                    <input class="m-2" type="radio" value="low-carb" id="low-carb" name="dietLabel" ngModel> Low-Carb
                </div>
                <br>
                <div class="text-left">
                    <p>Health preferences</p>
                    <input class="m-2" type="radio" value="egg-free" id="egg-free" name="healthLabel" ngModel> Egg-free
                    <input class="m-2" type="radio" value="fish-free" id="fish-free" name="healthLabel" ngModel>
                    Fish-free
                    <input class="m-2" type="radio" value="gluten-free" id="gluten-free" name="healthLabel" ngModel>
                    Gluten-free
                </div>
                <br>
                <div class="text-center mt-4">
                    <button type="submit" class="btn">Search recipe</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="card-deck">
    <div class="row p-3 justify-content-center text-center">
        <div class="col-sm-6 col-md-4 col-lg-3 m-3" *ngFor="let result of ( results | async )?.hits"
            [class.selected]="recipe === selectedRecipe">
            <div class="card rounded-3 shadow p-3 mb-5 bg-body rounded m-2">
                <img class="rounded-3" src="{{ result.recipe.image}}">
                <div class="card-body">
                    <h5 class="card-title mt-4"><a [routerLink]="['/recipe-detail', result.recipe.uri]"
                            routerLinkActive="active">{{result.recipe.label}}</a></h5>
                </div>
            </div>
        </div>
    </div>
</div>