<h4 class="text-left m-2">Favourite recepies</h4>

<!-- <div class="container-fluid">
    <div class="row text-center justify-content-center pb-5">
        <div class="col-sm-12 col-md-4 col-lg-3 m-3" *ngFor="let item of items">
            <div class="card">
                <img img src="{{ item.image}}">
                <div class="card-body">
                    <p class="card-title">{{ item.label }}</p>
                    <button class="btn" (click)="deleteOneFavourite(item)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mb-5">
    <button class="btn" (click)="clearFavourites()">Clear all</button>
</div> -->

<div class="form-group has-search">
    <form (ngSubmit)="onSubmit(favouriteForm)" #favouriteForm="ngForm">
        <h4 class="text-center mb-4">Add a favourite-list</h4>
        <!-- <span class="fa fa-search form-control-feedback"></span> -->
        <input class="form-control" name="title" type="text" ngModel placeholder="Add a list-name">

        <div class="text-center mt-4">
            <button type="submit" class="btn">Add list</button>
        </div>
    </form>
</div>

<div>
    <ul>
        <li *ngFor="let result of (results | async)">{{result.title}}
            <button class="btn btn-outline-primary" (click)="deleteFavouriteList(result.id)">Delete</button>

            <button class="btn btn-outline-primary" (click)="updateFavouriteList(result.id)">Update</button>
        </li>
    </ul>

</div>