* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
        position: relative;
        min-height: 100vh;
}

body {
    background: rgb(238, 235, 235);
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 36, 36);
}

.btn {
    border-color: darkorange;
    color: rgb(39, 36, 36);
}

.btn-fav-rec {
    border: none;
    background-color: rgb(238, 235, 235);
}

input {
    background-color: pink;
}

.btn-del-rec {
    border: none;
    background-color: white;
}

a:link, a:visited, a:hover {
    color: black;
}

.far {
    color: darkorange;
}

.fas {
    color: darkorange;
    padding: 8px;
}
